@media (min-width: 979px){

	body {
		background: url(../img/bg.jpg) no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}

	.bg {
		display: block;
		position: absolute;
		height:auto;
	    bottom:0;
	    top:0;
	    left:0;
	    right:0;		
	}

	.main {
		margin: 60px 0px;
		background-color:rgba(255,255,255,0.6);
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px; 
		border-radius: 12px; 
	}

	.main h1,
	.main h2 {
		text-align: center;
	}

    #modal-result .modal-dialog
    {
        width: 90%;/* your width */
    }

    #input-images,
    #output-images {
        max-height: 320px;
        overflow-y: auto;
    }

    #input-images > img,
    #output-images > img {
        max-width: 100%;
    }


}

.checkbox,
.checkbox + .checkbox {
	display: inline-block;
	font-weight: 400;
	margin-top: 0px;
	cursor: pointer;
}

.checkbox + .checkbox {
	padding-left: 10px;
}

.checkbox {
	padding-left: 0px;
}

.iradio_flat-blue {
	display: inline-block;
	position: relative;
	top: 3px;
}

.result-hdr {
    padding: 5px 0px;
    max-width: 100%;
}